<div class="container">
  <div class="row">
    <div class="col-xl-4"></div>
    <div class="col-xl-4">
      <h4><%= t(:active_sessions) %></h4>
      <% @user.sessions.where(active: true).each do |session| %>
        <div class="card mb-3">
          <div class="card-body">
            <div><%= t(:created_at) %>: <%= session.created_at %></div>
            <div><%= t(:ip) %>: <%= session.ip %></div>
            <div><%= t(:user_agent) %>: <%= session.user_agent %></div>
            <div class="text-right mt-3">
              <% if @session != session %>
                <%= link_to t(:delete), session_path(session), class: 'btn btn-sm btn-danger delete' %>
              <% else %>
                <div><%= t(:current_session) %></div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <% if @user.sessions.where(active: true).count > 1 %>
        <hr>
        <%= link_to t(:destroy_all_sessions), destroy_active_sessions_path, class: 'delete' %>
      <% end %>
    </div>
  </div>
</div>
