<div class="container">
  <div class="row">
    <div class="col-xl-4"></div>
    <div class="col-xl-4">
      <h4 class="mb-5"><%= t(:delete_account) %></h4>
      <%= form_tag(delete_account_path, method: "post") do %>
        <p><%= t(:this_is_serious) %></p>

        <p><%= t(:delete_info) %></p>

        <div class="form-row">
          <div class="form-group col-xl-12">
            <label><%= t(:type_password_to_confirm) %></label>
            <%= password_field_tag(:password_confirmation, "", class: "form-control") %>
          </div>
        </div>

        <p><%= t(:are_you_sure_delete) %></p>

        <div class="text-right">
          <a href="<%= account_path %>" class="btn btn-sm btn-primary"><%= t(:delete_no) %></a>
          <%= submit_tag(t(:delete_yes), class: "btn btn-sm btn-danger") %>
        </div>
      <% end %>
    </div>
  </div>
</div>