<div class="container">
  <div class="row">
    <div class="col-xl-4"></div>
    <div class="col-xl-4">
      <h4><%= t(:password_reset) %></h4>

      <p><%= t(:password_reset_text) %></p>

      <%= form_tag(password_reset_path, method: "post") do %>
        <div class="form-group mt-3">
          <label><%= t(:username) %></label>
          <%= text_field_tag(:username, params[:username], autofocus: true, class: "form-control") %>
        </div>

        <div class="form-group">
          <label><%= t(:token) %></label>
          <%= text_field_tag(:token, params[:token], autofocus: true, class: "form-control") %>
          <%= image_tag('token-info.png', class: 'img-fluid') %>
        </div>

        <div class="form-group">
          <label><%= t(:new_password) %></label>
          <%= password_field_tag(:new_password, "", class: "form-control") %>
        </div>

        <div class="form-group">
          <label><%= t(:confirm_password) %></label>
          <%= password_field_tag(:confirm_password, "", class: "form-control") %>
        </div>

        <div>
          <%= submit_tag(t(:submit), class: "btn btn-primary") %>
        </div>
      <% end %>
    </div>
  </div>
</div>