<div class="container">
  <div class="row">
    <div class="col-xl-4 offset-4">
      <h4><a href="<%= servers_path %>">Servers</a> / <%= @server.nickname %></h4>

      <%= form_for(@server, url: server_path, method: "put") do |f| %>
        <div class="form-group">
          <label>Nickname</label>
          <%= f.text_field(:nickname, class: "form-control") %>
        </div>

        <div class="text-right">
          <%= f.submit("Submit", class: "btn btn-dark") %>
        </div>
      <% end %>
    </div>
  </div>
</div>