<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="row mb-3">
        <div class="col">
          <h4>Servers</h4>
        </div>
        <div class="col text-right">
          <a href="<%= new_server_path %>" class="btn btn-primary"><span style="width:22px" data-feather='plus'></span> New server</a>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table">
          <tr>
            <th>Hostname</th>
            <th>IP</th>
            <th>Last active</th>
            <th>Distro</th>
            <th>Uptime</th>
            <th>RAM</th>
            <th>Disk</th>
          </tr>
          <% @user.servers.each do |server| %>
            <tr class="clickable-row" data-href="<%= server_path(server) %>">
              <td><%= server.hostname %></td>
              <td><%= server.ip %></td>
              <td>
                <% if server.last_report_minutes.nil? %>
                  <span class="badge badge-light">Unavailable</span>
                <% elsif server.last_report_minutes == 0 %>
                  <span class="badge badge-success">Less than a minute</span>
                <% else %>
                  <span class="badge badge-primary"><%= server.last_report_minutes %> minutes ago</span>
                <% end %>
              </td>
              <td class="table-thumb">
                <img src="/img/distros/<%= server.distro_logo %>.png">
              </td>
              <td><%= server.uptime_string %></td>
              <td>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: <%= server.ram_usage %>%">
                    <%= server.ram_usage %>%
                  </div>
                </div>
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: <%= server.disk_usage %>%">
                    <%= server.disk_usage %>%
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
