<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">Servers</li>
        </ol>
      </nav>

      <div class="mb-3">
        <a href="<%= new_server_path %>" class="btn btn-primary">New</a>
      </div>

      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Hostname</th>
            <th>IP</th>
            <th></th>
            <th>Last active</th>
            <th>Uptime</th>
            <th>RAM</th>
            <th>Disk</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @servers.each do |server| %>
            <tr data-href="<%= server_path(server) %>">
              <td><%= server.hostname || "New server" %></td>
              <td><%= server.ip %></td>
              <td class="table-thumb py-0 text-center">
                <% unless server.distro_logo.nil? %>
                  <img src="/img/distros/<%= server.distro_logo %>.png" style="height: 30px;padding-top: .25rem;padding-bottom: .25rem;">
                <% end %>
              </td>
              <td>
                <% unless server.last_report_minutes.nil? %>
                  <% if server.last_report_minutes == 0 %>
                    <span class="badge badge-success">Less than a minute</span>
                  <% else %>
                    <span class="badge badge-primary"><%= server.last_report_minutes %> minutes ago</span>
                  <% end %>
                <% end %>
              </td>
              <td><%= server.uptime_string %></td>
              <td>
                <% unless server.ram_usage.nil? %>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: <%= server.ram_usage %>%">
                      <%= server.ram_usage %>%
                    </div>
                  </div>
                <% end %>
              </td>
              <td>
                <% unless server.disk_usage.nil? %>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: <%= server.disk_usage %>%">
                      <%= server.disk_usage %>%
                    </div>
                  </div>
                <% end %>
              </td>
              <th>
                <a href="<%= server_path(server) %>" class="btn btn-primary">Show</a>
              </th>
            </tr>
          <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>