<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="row mb-3">
        <div class="col">
          <h4><%= t(:servers) %></h4>
        </div>
        <div class="col text-right">
          <% unless @servers.empty? %>
            <%= link_to t(:new_server), new_server_path, class: 'btn btn-sm btn-primary' %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">
          <% if @servers.empty? %>
            <div class="my-5 text-center">
              <span data-feather="server" style="width: 45px; height: 45px" class="mb-3"></span>
              <h5><%= t(:no_server_found) %></h5>
              <p class="text-muted"><%= t(:start_creating_new_server) %></p>
              <%= link_to t(:new_server), new_server_path, class: 'btn btn-sm btn-primary' %>
            </div>
          <% else %>
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <th><%= sort_link("hostname", t(:hostname)) %></th>
                  <th><%= t(:ip) %></th>
                  <th></th>
                  <th><%= sort_link("last_report", t(:last_active)) %></th>
                  <th><%= sort_link("uptime", t(:uptime)) %></th>
                  <th><%= sort_link("ram_usage", t(:ram)) %></th>
                  <th><%= sort_link("disk_usage", t(:disk)) %></th>
                  <th></th>
                </tr>
                <% @servers.each do |server| %>
                  <tr class="clickable" data-href="<%= server_path(server) %>">
                    <td><%= server.hostname || t(:new_server) %></td>
                    <td><%= server.ip %></td>
                    <td class="table-thumb text-center">
                      <% unless server.distro_logo.nil? %>
                        <%= image_tag("distros/#{server.distro_logo}.png") %>
                      <% end %>
                    </td>
                    <td>
                      <% unless server.last_report_minutes.nil? %>
                        <% if server.last_report_minutes == 0 %>
                          <span class="badge badge-success"><%= t(:less_than_a_minute) %></span>
                        <% else %>
                          <span class="badge badge-primary"><%= t(:minutes_ago, time: server.last_report_minutes) %></span>
                        <% end %>
                      <% end %>
                    </td>
                    <td><%= server.uptime_string %></td>
                    <td>
                      <% unless server.ram_usage.nil? %>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: <%= server.ram_usage %>%">
                            <%= server.ram_usage %>%
                          </div>
                        </div>
                      <% end %>
                    </td>
                    <td>
                      <% unless server.disk_usage.nil? %>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: <%= server.disk_usage %>%">
                            <%= server.disk_usage %>%
                          </div>
                        </div>
                      <% end %>
                    </td>
                    <td class="text-center">
                      <span data-feather="zap" style="width: 15px; height: 20px"></span> <%= server.triggers.count %>
                      <span data-feather="eye" class="ml-3" style="width: 15px; height: 20px"></span> <%= server.log_watchers.count %>
                    </td>
                  </tr>
                <% end %>
              </table>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
