<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="row mb-3">
        <div class="col">
          <h4>Servers</h4>
        </div>
        <div class="col text-right">
          <a href="<%= new_server_path %>" class="btn btn-primary">New server</a>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table">
          <tr>
            <th>Hostname</th>
            <th>Last active</th>
            <th>Distro</th>
            <th>Uptime</th>
            <th>RAM</th>
            <th>Disk</th>
          </tr>
          <% @user.servers.each do |server| %>
            <tr class="clickable-row" data-href="<%= server_path(server) %>">
              <td><%= server.last_hostname %></td>
              <td><%= server.last_active %></td>
              <td><%= server.last_distro %></td>
              <td><%= server.last_uptime %></td>
              <td>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: <%= server.last_ram %>"><%= server.last_ram %></div>
                </div>
              </td>
              <td>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: <%= server.last_disk %>"><%= server.last_disk %></div>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
