<h2>Servers</h2>

<table>
  <tr>
    <th>Nickname</th>
    <th>Last active</th>
    <th>Hostname</th>
    <th>Distro</th>
    <th>Uptime</th>
    <th>RAM</th>
    <th>Disk</th>
    <th>Last active</th>
    <th></th>
  </tr>
  <% @user.servers.each do |server| %>
    <tr>
      <td><%= server.hostname %></td>
      <td><%= server.last_active %></td>
      <td><%= server.hostname %></td>
      <td><%= server.distro %></td>
      <td><%= server.uptime %></td>
      <td><%= server.ram %></td>
      <td><%= server.disk %></td>
      <td><a href="<%= server_path(server) %>">Show</a> | <a href="<%= edit_server_path(server) %>">Edit</a></td>
    </tr>
  <% end %>
</table>

<hr>

<a href="<%= new_server_path %>">New server</a>