<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="row mb-3">
        <div class="col">
          <h4><%= @server.hostname || t(:new_server) %></h4>
        </div>
        <div class="col text-right">
          <% unless @server.hostname.nil? %>
            <%= link_to server_triggers_path(@server), class: 'btn btn-sm btn-primary' do %>
              <%= t(:triggers) %>
            <% end %>
          <% end %>
          <%= link_to t(:delete), server_path(@server), class: 'btn btn-sm btn-danger delete' %>
        </div>
      </div>

      <% if @server.reports.count == 0 %>
        <h5><%= t(:setup) %></h5>

        <div class="form-group">
          <label><%= t(:add_line_to_crontab) %></label>
          <input type="text" class="form-control" value="* * * * * curl -s <%= @url %>/runner.sh | bash -s <%= @server.token %>">
        </div>

        <p><%= t(:refresh_page_after_1_minute) %></p>
      <% else %>
        <h5><%= t(:details) %></h5>
        <div><%= t(:token) %>: <%= @server.token %></div>
        <div><%= t(:hostname) %>: <%= @server.hostname %></div>
        <div><%= t(:ip) %>: <%= @server.ip %></div>
        <div><%= t(:linux_distribution) %>: <%= @server.distro %></div>
        <div><%= t(:uptime) %>: <%= @server.uptime_string %></div>
        <div><%= t(:ram) %>: <%= @server.ram_usage %>%</div>
        <div><%= t(:disk) %>: <%= @server.disk_usage %>%</div>
        <div><%= t(:first_report) %>: <%= @server.first_report %></div>
        <div class="mb-3"><%= t(:last_report) %>: <%= @server.last_report %></div>

        <h5><%= t(:ram_usage_24) %></h5>
        <div id="ram_usage" style="height: 420px;"></div>

        <h5><%= t(:disk_usage_24) %></h5>
        <div id="disk_usage" style="height: 420px;"></div>

        <script>
            new Chartkick.LineChart("ram_usage", '/charts?server_id=<%= @server.id %>&type=ram_usage', {curve: false});
            new Chartkick.LineChart("disk_usage", '/charts?server_id=<%= @server.id %>&type=disk_usage', {curve: false});
        </script>
      <% end %>
    </div>
  </div>
</div>
