<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="row mb-3">
        <div class="col">
          <h4>Servers / <%= @server.hostname %></h4>
        </div>
        <div class="col text-right">
          <a href="<%= server_path(@server) %>" class="btn btn-danger delete">Delete</a>
        </div>
      </div>

      <h5>Setup</h5>

      <div class="form-group">
        <label>Add this line to your crontab</label>
        <input type="text" class="form-control" value="* * * * * curl -s https://sssm.ml/runner.sh | bash -s <%= @server.token %>">
      </div>

      <p>And refresh this page after 1 minute!</p>

      <h5>RAM usage</h5>
      <div id="ram_usage" style="height: 420px;"></div>
      <script>
          new Chartkick.LineChart("ram_usage", '/charts?server_id=<%= @server.id %>&type=ram_usage', {curve: false});
      </script>

      <h5>Disk usage</h5>
      <div id="disk_usage" style="height: 420px;"></div>
      <script>
          new Chartkick.LineChart("disk_usage", '/charts?server_id=<%= @server.id %>&type=disk_usage', {curve: false});
      </script>

      <h5>Details</h5>
      <div>Hostname: <%= @server.hostname %></div>
      <div>IP: <%= @server.ip %></div>
      <div>Distro: <%= @server.distro %></div>
      <div>Uptime: <%= @server.uptime %></div>
      <div>Total reports: <%= @server.reports.count %></div>
      <div>First report: <%= @server.first_report %></div>
      <div>Last report: <%= @server.last_report %></div>
    </div>
  </div>
</div>