<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="<%= servers_path %>">Servers</a></li>
          <li class="breadcrumb-item active"><%= @server.hostname || "New server" %></li>
        </ol>
      </nav>

      <div class="mb-3">
        <a href="<%= server_path(@server) %>" class="btn btn-danger delete">Delete</a>
      </div>

      <% if @server.reports.count == 0 %>
        <div class="form-group">
          <label>Add this line to your crontab</label>
          <input type="text" class="form-control" value="* * * * * curl -s <%= @url %>/runner.sh | bash -s <%= @server.token %> >/dev/null 2>&1">
        </div>
      <% else %>
        <div class="row">
          <div class="col-xl-6">
            <h5>RAM usage</h5>
            <div id="ram_usage" style="height: 420px;"></div>
          </div>
          <div class="col-xl-5">
            <h5>Disk usage</h5>
            <div id="disk_usage" style="height: 420px;"></div>
          </div>
        </div>

        <h5>Details</h5>
        <div>Token: <%= @server.token %></div>
        <div>IP: <%= @server.ip %></div>
        <div>Distro: <%= @server.distro %></div>
        <div>Uptime: <%= @server.uptime_string %></div>
        <div>RAM: <%= @server.ram_usage %>%</div>
        <div>Disk: <%= @server.disk_usage %>%</div>

        <script>
            new Chartkick.LineChart("ram_usage", '/charts?server_id=<%= @server.id %>&type=ram_usage', {curve: false});
            new Chartkick.LineChart("disk_usage", '/charts?server_id=<%= @server.id %>&type=disk_usage', {curve: false});
        </script>
      <% end %>
    </div>
  </div>
</div>
