<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="row mb-3">
        <div class="col">
          <h4>Log watchers</h4>
        </div>
        <div class="col text-right">
          <a href="<%= new_log_watcher_path %>" class="btn btn-primary">New</a>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>File</th>
                <th>Action</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <% @log_watchers.each do |log_watcher| %>
                <tr>
                  <td><%= log_watcher.name %></td>
                  <td><%= log_watcher.file %></td>
                  <td><%= log_watcher.action %></td>
                  <td class="text-right">
                    <a href="<%= edit_log_watcher_path(log_watcher) %>" class="btn btn-primary">Show</a>
                    <a href="<%= log_watcher_path(log_watcher) %>" class="btn btn-danger delete">Delete</a>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
