<div class="container">
  <div class="row">
    <div class="offset-xl-4 col-xl-4">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="<%= log_watchers_path %>">Log watchers</a></li>
          <li class="breadcrumb-item active">New</li>
        </ol>
      </nav>

      <%= form_for @log_watcher, url: log_watchers_path do |f| %>
        <div class="form-group">
          <label>Name</label>
          <%= f.text_field(:name, class: "form-control") %>
        </div>
        <div class="form-group">
          <label>File</label>
          <%= f.text_field(:file, class: "form-control") %>
        </div>
        <div class="form-group">
          <label>Action</label>
          <%= f.select(:action, options_for_select(LogWatcher::ACTIONS, selected: @log_watcher.action), {}, class: "form-control") %>
        </div>
        <div class="form-group">
          <label>URL</label>
          <%= f.text_field(:url, class: "form-control") %>
        </div>
        <div>
          <%= f.submit("Submit", class: "btn btn-primary") %>
        </div>
      <% end %>
    </div>
  </div>
</div>