<div class="container">
  <div class="row">
    <div class="offset-xl-4 col-xl-4">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">Change password</li>
        </ol>
      </nav>

      <%= form_tag(change_password_path, method: "put") do %>
        <div class="form-group">
          <label>Current password</label>
          <%= password_field_tag(:current_password, "", class: "form-control") %>
        </div>

        <div class="form-group">
          <label>New password</label>
          <%= password_field_tag(:new_password, "", class: "form-control") %>
        </div>

        <div class="form-group">
          <label>Confirm password</label>
          <%= password_field_tag(:new_password_again, "", class: "form-control") %>
        </div>

        <div>
          <%= submit_tag("Submit", class: "btn btn-primary") %>
        </div>
      <% end %>
    </div>
  </div>
</div>