<div class="container">
  <div class="row">
    <div class="col-xl-4"></div>
    <div class="col-xl-4">
      <h4><%= t(:login) %></h4>

      <%= form_tag(login_path, method: "post") do %>
        <div class="form-group">
          <label><%= t(:username) %></label>
          <%= text_field_tag(:username, params[:username], autofocus: true, class: "form-control") %>
        </div>

        <div class="form-group">
          <label><%= t(:password) %></label>
          <%= password_field_tag(:password, "", class: "form-control") %>
        </div>

        <div>
          <%= submit_tag(t(:submit), class: "btn btn-primary") %>
        </div>
      <% end %>

      <hr>

      <div><%= link_to t(:password_reset), password_reset_path %></div>
    </div>
  </div>
</div>