<div class="container">
  <div class="row">
    <div class="col-xl-4"></div>
    <div class="col-xl-4">
      <h4>My account</h4>
      <%= form_for(@user, url: account_path, method: "post") do |f| %>
        <div class="form-group">
          <label>Username</label>
          <%= f.text_field(:username, class: "form-control") %>
        </div>

        <div class="form-group">
          <label>Email</label>
          <%= f.text_field(:email, class: "form-control") %>
        </div>

        <div class="text-right">
          <%= submit_tag("Submit", class: "btn btn-primary") %>
        </div>
      <% end %>

      <hr>

      <h4>Change password</h4>
      <%= form_tag(change_password_path, method: "put") do %>
        <div class="form-group">
          <label>Current password</label>
          <%= password_field_tag(:current_password, "", class: "form-control") %>
        </div>

        <div class="form-group">
          <label>New password</label>
          <%= password_field_tag(:new_password, "", class: "form-control") %>
        </div>

        <div class="form-group">
          <label>Repeat it</label>
          <%= password_field_tag(:new_password_again, "", class: "form-control") %>
        </div>

        <div class="text-right">
          <%= submit_tag("Submit", class: "btn btn-primary") %>
        </div>
      <% end %>

      <hr>

      <div>Your user ID: <%= @user.id %></div>
      <div>Created at: <%= @user.created_at %></div>
      <div>Last updated at: <%= @user.created_at %></div>
    </div>
  </div>
</div>