<div class="container">
  <div class="row">
    <div class="col-xl-4"></div>
    <div class="col-xl-4">
      <h4><%= t(:my_account) %></h4>
      <%= form_for(@user, url: account_path, method: "post") do |f| %>
        <div class="form-group">
          <label><%= t(:username) %></label>
          <%= f.text_field(:username, class: "form-control") %>
        </div>

        <div class="form-group">
          <label><%= t(:email) %></label>
          <%= f.text_field(:email, class: "form-control") %>
        </div>

        <div>
          <%= submit_tag(t(:submit), class: "btn btn-sm btn-primary") %>
        </div>
      <% end %>

      <hr>

      <h4><%= t(:change_password) %></h4>
      <%= form_tag(change_password_path, method: "put") do %>
        <div class="form-group">
          <label><%= t(:current_password) %></label>
          <%= password_field_tag(:current_password, "", class: "form-control") %>
        </div>

        <div class="form-group">
          <label><%= t(:new_password) %></label>
          <%= password_field_tag(:new_password, "", class: "form-control") %>
        </div>

        <div class="form-group">
          <label><%= t(:confirm_password) %></label>
          <%= password_field_tag(:new_password_again, "", class: "form-control") %>
        </div>

        <div>
          <%= submit_tag(t(:submit), class: "btn btn-sm btn-primary") %>
        </div>
      <% end %>

      <hr>

      <div><%= link_to t(:manage_active_session), sessions_path %></div>

      <div><%= link_to t(:delete_account), delete_account_path, class: 'text-danger' %></div>
    </div>
  </div>
</div>