<div class="container">
  <div class="row">
    <div class="offset-xl-4 col-xl-4">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="<%= triggers_path %>">Triggers</a></li>
          <li class="breadcrumb-item active">Edit</li>
        </ol>
      </nav>

      <%= form_for @trigger, url: trigger_path(@trigger) do |f| %>
        <div class="form-group">
          <label>Event</label>
          <%= f.select(:event, options_for_select(Trigger::EVENTS, selected: @trigger.event), {}, class: "form-control") %>
        </div>
        <div class="form-group">
          <label>Criteria</label>
          <%= f.number_field(:criteria, class: "form-control") %>
        </div>
        <div class="form-group">
          <label>Action</label>
          <%= f.select(:action, options_for_select(Trigger::ACTIONS, selected: @trigger.action), {}, class: "form-control") %>
        </div>
        <div class="form-group">
          <label>URL</label>
          <%= f.text_field(:url, class: "form-control") %>
        </div>
        <div>
          <%= f.submit("Submit", class: "btn btn-primary") %>
        </div>
      <% end %>
    </div>
  </div>
</div>