<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="row mb-3">
        <div class="col">
          <h4><%= link_to(@server.hostname, @server) %> / <%= t(:triggers) %></h4>
        </div>
        <div class="col text-right">
          <% unless @triggers.empty? %>
            <%= link_to t(:new_trigger), new_server_trigger_path(@server), class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">
          <% if @triggers.empty? %>
            <div class="my-5 text-center">
              <span data-feather="zap" style="width: 45px; height: 45px" class="mb-3"></span>
              <h5><%= t(:no_trigger) %></h5>
              <p class="text-muted"><%= t(:start_creating_new_trigger) %></p>
              <%= link_to t(:new_trigger), new_server_trigger_path(@server), class: 'btn btn-primary' %>
            </div>
          <% else %>
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <th><%= t(:event) %></th>
                  <th><%= t(:action) %></th>
                  <th></th>
                </tr>
                <% @triggers.each do |trigger| %>
                  <tr>
                    <td><%= trigger.name %></td>
                    <td><%= trigger.action %></td>
                    <td class="text-right">
                      <%= link_to t(:send_test), server_trigger_test_path(@server, trigger), class: 'btn btn-primary' %>
                      <%= link_to t(:edit), edit_server_trigger_path(@server, trigger), class: 'btn btn-primary' %>
                      <%= link_to t(:delete), server_trigger_path(@server, trigger), class: 'btn btn-danger delete' %>
                    </td>
                  </tr>
                <% end %>
              </table>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
