<div class="menu">
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <%= link_to root_path do %>
          <%= image_tag('logo.png', class: 'logo') %>
        <% end %>
      </div>
      <div class="col-xl-8 text-right">
        <% unless @user.nil? %>
          <%= link_to "<span data-feather='server' class='feather'></span>".html_safe, servers_path, class: "link" %>
          <%= link_to "<span data-feather='eye' class='feather'></span>".html_safe, log_watchers_path, class: "link" %>
          <%= link_to "<span data-feather='user' class='feather'></span>".html_safe, account_path, class: "link" %>
          <%= link_to "<span data-feather='power' class='feather'></span>".html_safe, logout_path, class: "link" %>
        <% else %>
          <%= link_to t(:login), login_path, class: "link" %>
          <%= link_to t(:create_account), registration_path, class: "link" %>
        <% end %>
        <%= link_to t(:donate), "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=SF8YKWJUTV34S&source=url", class: "link" %>
      </div>
    </div>
  </div>
</div>