<div class="menu">
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <a href="<%= root_path %>" class="font-weight-bold pl-0 link">SSSM</a>
      </div>
      <div class="col-xl-8 text-right">
        <% unless @user.nil? %>
          <a href="<%= servers_path %>" class="link">Servers</a>
          <a href="<%= log_watchers_path %>" class="link">Log watchers</a>
          <a href="<%= triggers_path %>" class="link">Triggers</a>
          <a href="<%= change_password_path %>" class="link">Change password</a>
          <a href="<%= logout_path %>" class="link pr-0">Logout</a>
        <% end %>
      </div>
    </div>
  </div>
</div>