<div class="menu">
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <a href="<%= root_path %>"><img src="/img/logo.png" class="logo"></a>
      </div>
      <div class="col-xl-8 text-right">
        <% unless @user.nil? %>
          <%= link_to "<span style='width: 20px; color: #000' data-feather='server'></span>".html_safe, servers_path, class: "link" %>
          <%= link_to "<span style='width: 20px; color: #000' data-feather='user'></span>".html_safe, account_path, class: "link" %>
          <%= link_to "<span class='text-danger' style='width: 20px' data-feather='power'></span>".html_safe, logout_path, class: "link" %>
        <% else %>
          <%= link_to t(:login), login_path, class: "link" %>
          <%= link_to t(:create_account), registration_path, class: "btn btn-primary btn-sm text-white" %>
        <% end %>
      </div>
    </div>
  </div>
</div>