<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="robots" content="all, follow">

  <title>SSSM</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="shortcut icon" href="/img/logo.png">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/snackbar.min.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700">

  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/snackbar.min.js"></script>
  <script src="/js/highcharts.min.js"></script>
  <script src="/js/chartkick.min.js"></script>
  <script src="/js/application.js"></script>
</head>

<body>

<%= render 'layouts/navbar' %>

<%= yield %>

<script>
    $(function () {
        feather.replace();

        <% unless @alert.nil? %>
        $.snackbar({content: "<%= @alert.html_safe %>"});
        <% end %>
    });
</script>
</body>
</html>
